/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  height:100%;
  width: 210em;
  position: absolute;
  bottom:0;
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

/* jouw CSS vanaf hier */

#achtergrond {
  height:100%;
  width:100%;
  position: fixed;
  bottom:0;
  margin:0;
  opacity: 80%;
}

/* titel en tekst */
h1 {
  color:black;
  font-family: "Press Start 2P";
  font-size: 1.8em;
  position: fixed;
  margin: 2em 4em 0 2em;
  line-height: 1.3em;  
}

p {
  color:white;
  font-family:"Press Start 2P";
  font-size: 1em;
  text-align: center;
}

/* Groene Pijp ontwerp */
.groenePijp {
  display: grid;
  justify-items: center;
  position: absolute;
  bottom: 0;
  margin:0;
}

.groenePijp div:nth-of-type(1) {
  width: 8em;
  height: 3em;
  border-radius: .5em;
  background-color: green;
}

.groenePijp div:nth-of-type(2) {
  width: 7em;
  height: 10em;
  background-color: green;
  display: grid;
  place-items: center;
  box-shadow: inset 0 1em 1em -1em black;
}

.groenePijp p {
  font-size: 1.5em;
  margin:0;
}

/* Joshi deel 1 */
.yoshi1 {
  position: absolute;
  left: 2em;
  bottom: 12em;
  width: 7em;
  height: auto;
  margin: 0;
  display: grid;
}

.groenePijp.een {
  left:2em;
}

.groenePijp.een:hover {
  opacity:80%;
}

.ei.een img {
  position: absolute;
  left: 10em;
  bottom: 17em;
  width: 12em;
  height: auto;
}

/* animatie 1 */
@keyframes draai {
  0% {
    transform:translatex(0);
  }

  25% {
    transform:translatex(3em) rotate(90deg) ;
  }

  50% {
    transform:translatex(8em) rotate(180deg) ;
  }

  75% {
    transform: translatex(12em) rotate(270deg);
  }

  100% {
    transform: translatex(16em) rotate(360deg);
  }
}

.ei.een img:hover {
  animation-name:draai;
  animation-duration:1s;
  animation-delay:0s;
  animation-fill-mode:none, 
}


/* Blokjes horizontaal */
.blokjeHorizontaal.een {
  display: flex;
  position: absolute;
  bottom: 10em;
  left: 12em;
}

.blokjeHorizontaal img {
  width: 7em;
  height: auto;
  margin: .5em;
}

/* Joshi Deel 2 */
.groenePijp.twee {
  left:38em;
}

.groenePijp.twee:hover {
  opacity: 80%;
}

.yoshi2 {
  position: absolute;
  left: 1em;
  bottom: 12em;
  width: 7em;
  margin: 0;
  display: block;
}

.yoshi2.hide {
  opacity: 100%;
}

/* Blokjes hoek ontwerp */
.blokjeHoek {
  display: flex;
  position: absolute;
  bottom: 0em;
  left: 48em;
}

.blokjeHoek img {
  width: 30%;
  height: auto;
  margin: 0em;
}


/* Joshi Deel 3 */
.groenePijp.drie {
  left:68em;
}

.groenePijp.drie:hover {
  opacity: 80%;
}

.ei.twee img {
  position: absolute;
  left: 89em;
  bottom: 0em;
  width: 5em;
  height: auto;
}

/* animatie 2 */
@keyframes springen {
  0% {
    transform:translatey(0);
  }

  50% {
    transform:translatey(-4em);
  }

  100%{
    transform:translatey(0);
  }
}

.ei.twee img:hover {
  animation-name:springen;
  animation-duration:.2s;
  animation-delay:0s;
  animation-iteration-count:infinite;
  animation-fill-mode:none, 
}

.yoshi3 {
  position: absolute;
  left: 0em;
  bottom: 11em;
  width: 8em;
  margin: 0;
  display:block;
}

.blokjeHorizontaal.twee {
  display: flex;
  position: absolute;
  bottom: 10em;
  left: 79em;
}

/* Joshi Deel 4 */
.groenePijp.vier {
  left:105em;
}

.groenePijp.vier:hover {
  opacity: 80%;
}

.yoshi4 {
  position: absolute;
  left: 0em;
  bottom: 12em;
  width: 7em;
  margin: 0;
  display:block;
}

.blokjeHoek.twee {
  display: flex;
  position: absolute;
  bottom: 0em;
  left: 118em;
}

.ei.drie img {
  position: absolute;
  left: 117em;
  bottom: 17em;
  width: 12em;
  height: auto;
}


/* animatie 3 */
@keyframes val {
  0% {
    transform:translate(4em, 4em) rotate(1turn);
  }

  25% {
    transform:translate(6em, 6em) rotate(2turn);
  }

  50% {
    transform:translate(10em, 8em) rotate(3turn);
  }
  
  75% {
    transform:translate(13em, 12em) rotate(4turn);
  }

  100% {
    transform:translate(18em, 18em) rotate(5turn);
  }
}

.ei.drie img:hover {
  animation-name:val;
  animation-duration:3.5s;
  animation-fill-mode:none, 
}

/* Joshi Deel 5 */
.groenePijp.vijf {
  left:150em;
}

.groenePijp.vijf:hover {
  opacity: 80%;
}

.yoshi5 {
  position: absolute;
  left: 0em;
  bottom: 12em;
  width: 10em;
  margin: 0;
  display: block;
}

.blokjeHorizontaal.drie {
  display: flex;
  position: absolute;
  bottom: 10em;
  left: 161em;
}

/* Joshi Deel 6 */
.groenePijp.zes {
  left:180em;
}

.groenePijp.zes:hover {
  opacity: 80%;
}

.yoshi6 {
  position: absolute;
  left: 0em;
  bottom: 12em;
  width: 9em;
  margin: 0;
  display:block;
}

/* Einvlag ontwerp */
.eindvlag {
  display: grid;
  justify-items: center;
  position: absolute;
  right: 12em;
  bottom: 0;
  margin:0;
}

.eindvlag div:nth-of-type(1) {
  width: 2em;
  height: 25em;
  background-color: white;
  box-shadow: inset 0em 0em .6em .2em grey;
}

.eindvlag div:nth-of-type(2) {
  width: 4em;
  height: 4em;
  border-radius: 3em;
  background-color: yellow;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 24em;
  box-shadow: inset 0 -1em 1.4em -1em grey;
}

.eindvlag div img {
  width: 8em;
  height: 6em;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 3em;
  left: 2em;
  box-shadow: 1em 1em 1em -1em grey;
}

/* animatie 4 */
@keyframes vlag {
  0% {
    transform:translatey(0);
  }

  100% {
    transform:translatey(-15em);
  }
}

.eindvlag div img:hover {
  animation-name:vlag;
  animation-duration:1.5s;
}



